.ButtonRow {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.ButtonType {
    margin-right: 10px;
    margin-left: 10px;
}

.ButtonType:hover {
    background-color: #f0f0f0;
  }

.ButtonShape {
    margin-right: 20px;
    margin-left: 20px;
    width: 120px;
    height: 120px;
}

.ButtonShape:hover {
    border: 2px solid #5e5e5e;
  }

.subtitleDiv {
    display: flex;
    flex-direction: column;
    width: 40%; 
    border-bottom: 1px solid #5e5e5e;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }

  .separator {
    margin-top: 40px;
  }

  .selected {
    border: 2px solid #000; /* Black border to indicate selection */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Optional for better visibility */
}